.bd{
    text-align: center;
    background-color: aqua;
    height: 300px;
    font-size: x-large;
    box-sizing: border-box;
    padding-top: 80px;
    margin: 10px;
}

.in{
    text-align: center;
    background-color: blueviolet;
    height: 300px;
    font-size: x-large;
    box-sizing: border-box;
    padding-top: 80px;
    margin: 10px;
}

@media (max-width:1024px){
    .bd{
        background-color: brown;
        color: aliceblue;
        font-style: italic;
        font-weight: bolder;
    }
    .in{
        background-color: crimson;
        color: rgb(243, 247, 250);
        font-style: italic;
        font-weight: bolder;
    }
}